/* Sitewide Alert CSS */

	#sitewide_alert {
		margin: 30px;
		padding: 32px 32px;
		font-size: 20px;
		cursor: auto;
		border: 1px solid #111;
		border-radius: 8px;
		box-shadow: 0 0 15px #333;
		text-align: center !important;
		background-color: #FFF !important;
	}

	#alert-bg {
		background-color: #FFF !important;
	}
	
	#sitewide_alert h2 {
		font-size: 40px;
		position:relative;
		color: #0033A0;
	}
	
	.alert_separator { 
		margin: 25px 0;
		height: 1px;
		border: 0;
		background: #0033a0;
		background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #0033a0));
	}
	
	#sitewide_alert hr {
		background: linear-gradient(to right, rgba(0, 51, 160, 0), rgba(0, 51, 160, 0.75), rgba(0, 51, 160, 0));
		/* background: 0033a0; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left,rgba(0, 51, 160, 0), rgba(0, 51, 160, 0.75), rgba(0, 51, 160, 0)); /*Safari 5.1-6*/
		background: -o-linear-gradient(right,rgba(0, 51, 160, 0), rgba(0, 51, 160, 0.75), rgba(0, 51, 160, 0)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(right,rgba(0, 51, 160, 0), rgba(0, 51, 160, 0.75), rgba(0, 51, 160, 0)); /*Fx 3.6-15*/
	}
	#sitewide_alert {
		-webkit-animation: alerting 1s infinite alternate;
		-moz-animation: alerting 1s infinite alternate;
		-animation: alerting 1s infinite alternate;
	}
	@-webkit-keyframes alerting {
		from { box-shadow: 0 0 15px #333; }
		to { box-shadow: 0 0 35px #0033A0; }
	}
	@-moz-keyframes alerting {
		from { box-shadow: 0 0 15px #333; }
		to { box-shadow: 0 0 35px #0033A0; }
	}
	@keyframes alerting {
		from { box-shadow: 0 0 15px #333; }
		to { box-shadow: 0 0 35px #0033A0; }
	}
