/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}



/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; width: 100%; overflow: hidden;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.flexslider .slides li .slide-content {float: left; width: 45%; padding: 20px 5% 20px 10%; margin-top: -170px; position: absolute; height: 130px; text-shadow: 1px 1px 1px #000; box-sizing: content-box;

    background: -moz-linear-gradient(left,  rgba(0, 51, 160, 1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 51, 160, 1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0, 51, 160, 1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0, 51, 160, 1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0, 51, 160, 1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0, 51, 160, 1) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1456a3', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}
.flexslider .slides li .slide-content h2 { color: #FFF; font-family: 'HelveticaNeue-Roman'; font-weight: bold; font-size: 25px; padding-bottom: 20px; }
.flexslider .slides li .slide-content .slide-caption {color: #fff; font-style: italic; height: 6em; overflow: hidden; font-family: 'HelveticaNeue-Roman'; line-height: 1.2em;}

/* styles for slider outside of showcase region */

#main .flexslider  {
	border: 1px solid #dededf;
}
#main .flexslider .slides li .slide-content {padding: 10px 10px; height: 60px; margin-top: 0px; position: relative; width: 100%;
    background: linear-gradient(to right, rgba(0, 51, 160, 1) , rgba(0, 51, 160, 1)); text-shadow: none; color: white; border-radius: 0px; }
#main .flexslider .slides li .slide-content h2 {font-size: 20px; line-height: 20px; padding-bottom: 5px; }
#main .flexslider .slides li .slide-content .slide-caption {font-size: 14px; height: 3em; line-height: 1em; color: #fff;
    font-style: normal;}
#main .flex-direction-nav a {width: 27px; height: 47px;}



/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 57px; height: 94px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;
    background: url(../img/bgi/slider_nav_prev.png) left top no-repeat;
    background-size: contain;
}
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; background: url(../img/bgi/slider_nav_next.png) left top no-repeat; background-size: contain;}
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-size: 40px; display: inline-block; }
.flex-direction-nav a.flex-next:before  {}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; text-align: right; bottom: 20px; z-index: 999; right: 20px;}
.flex-control-nav li {margin: 0; display: inline-block; zoom: 1; *display: inline; width: 20px; height: 20px; overflow: hidden;}
.flex-control-paging li a {padding-left: 20px; background: url(../img/slider_pager.png) left top no-repeat;}
.flex-control-paging li a.flex-active {background-position: -20px top;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 1280px) {
    .flexslider .slides li .slide-content h2 {font-size: 30px; line-height: 30px; padding-bottom: 15px;}
}

@media screen and (max-width: 960px) {
    .flexslider .slides li .slide-content h2 {font-size: 18px; line-height: 18px; padding-bottom: 5px;}
}

@media screen and (max-width: 860px) {

    .flexslider .slides li .slide-content .slide-caption {}
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
    .flexslider .slides li .slide-content {float: left; width: 45%; padding: 10px 5% 10px 10%; margin-top: -100px; position: absolute; height: 80px; }
}

@media (max-width: 640px) {

    .flexslider .slides li .slide-content {float: left; padding: 10px 5% 10px 10%; margin-top: 0px; position: relative; height: 60px; background: none; height: auto; width: 85%;}
    .flexslider .slides li .slide-content h2 {font-size: 18px; line-height: 18px; padding-bottom: 5px; color: #00479A; text-shadow: none;}
    .flexslider .slides li .slide-content .slide-caption {color: #444; text-shadow: none; height: auto;}

    .flex-direction-nav a {display: none;}

}

@media (max-width: 480px) {
    /*.flexslider .slides li .slide-content {height: 20px; margin-top: -40px;}*/
    .flexslider .slides li .slide-content h2 {font-size: 16px; line-height: 20px;}
}
