




/* ========================= Menu Hover ========================= */	
/* All Nav Hover */
	.block-menu .menu li a:hover,
	.block-menu  > .menu > li > ul.menu a:hover,
	.primary-nav--vertical .menu li a:hover,
	.primary-nav--vertical > .menu > li > ul.menu a:hover,
	.sidebar a.active-trail:hover,
	.primary-nav--horizontal .menu .menu li a:hover,
	.sidebar a.active-trail:hover,
	.section-nav > .menu > li > ul.menu a:hover {
		background-color: #C8C8C7 !important;
		text-decoration: none !important;
		color: #0033a0 !important;
	}

/* ========================= primary-nav--vertical ========================= */	

	.primary-nav--vertical .menu {
		background-color: #f7f7f7;
	}
	
	.primary-nav--vertical > .menu > li > ul.menu {
		background: #FFF;
	}
	.primary-nav--vertical > .menu > li > ul.menu li {
		background-color: #f7f7f7;
	}

	.primary-nav--vertical > .menu > li > ul.menu a {
		color: black !important;
		font-size: 16px !important;
		display: block !important;
		width: 100% !important;
		/* padding: 8px 25px 8px 15px !important; */
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
	}

	.primary-nav--vertical > .menu > li > ul.menu a.active {
		border-left: 5px solid #1897d4 !important;
		background: #C8C8C7 !important;
		color: #0033a0 !important;
	}
		.primary-nav--vertical > .menu > li > ul.menu a.active:hover {
			border-left: 5px solid #1897d4 !important;
			background: #C8C8C7 !important;
			color: #0033a0 !important;
		}
	
	.primary-nav--vertical > .menu a.active {
		border-left: 5px solid #1897d4 !important;
		background: #C8C8C7 !important;
		color: #0033a0 !important;
	}
		.primary-nav--vertical > .menu a.active:hover {
			border-left: 5px solid #1897d4 !important;
			background: #C8C8C7 !important;
			color: #0033a0 !important;
		}

	.sidebar a.active-trail {
		color: black !important;
		font-size: 16px !important;
		display: block !important;
		width: 100% !important;
		/* padding: 8px 25px 8px 15px !important; */
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
		background-color: #f7f7f7;
	}

	
	.sidebar ul li.expanded {
		list-style-image: none;
		list-style-type: none;
	}

	
	.primary-nav--vertical  .menu .menu a[href^="javascript"]:hover {
		cursor: auto;
		color: black;
		background: none;
	}
		

.primary-nav--vertical .menu {
	background: #f7f7f7;
}

.primary-nav--vertical .menu li {
	margin:0;
	padding:0;
	list-style: none;
}


.primary-nav--vertical .menu .menu a {
	padding-left:20px;
}

.primary-nav--vertical .menu li a{
	color: black;
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 8px 25px 8px 15px;
	border-bottom: 1px solid white;
	transition: background-color .3s;

}

.primary-nav--vertical .menu li a:focus {
	text-decoration: none;
}

.primary-nav--vertical .menu li a.active
{
	border-left: 4px solid #1897d4;
	background: #C8C8C7;
}


.primary-nav--vertical > .menu > li > ul.menu a {
	font-size: 14px !important;
	}

.primary-nav--vertical > .menu > li > .menu > li > ul.menu a {
	font-size: 12px !important;
	}













/* ========================= Expanadable Menu ========================= */	


.uky-expandablemenu > .menu {
	display:none;
}

.uky-expandablemenu--open > .menu {
	display:block;
}

.uky-expandablemenu > a {
	position: relative;
}

.uky-expandablemenu {
	position: relative;
}

.uky-expandablemenu__toggle {
	font-family: FontAwesome;

	font-size: 12px;
	position: absolute;
	right: 0px;
	background: #f7f7f7;
	top: 0;
	padding: 0 10px;
	border:none;
	border-left: 2px solid white;
	height:39px;

	cursor: pointer;
}

.uky-expandablemenu__toggle:hover {
	background: #696969;
	color:white;
}

.uky-expandablemenu__toggle:after {
	content: "\f067";
	width:10px;
	line-height: 44px;
}

.uky-expandablemenu--open > .uky-expandablemenu__toggle
{background: #C8C8C7;}

.uky-expandablemenu--open > .uky-expandablemenu__toggle:hover {
	background: #C8C8C7;
	color: #0033a0;
}

.uky-expandablemenu--open > .uky-expandablemenu__toggle:after {
	content: "\f068";

}

.uky-expandablemenu--active > .uky-expandablemenu__toggle {
	display: none;
}

.uky-offcanvas .uky-expandablemenu__toggle {
	background: #1897d4;
	height:44px;
	padding: 0 22px;
	color:white;
	border-left-width: 1px;
}


.primary-nav--vertical > .menu > li.uky-expandablemenu .menu .menu li {
	list-style: disc;
	list-style-position: inside;
}

.primary-nav--vertical .menu li.uky-expandablemenu:hover > a:after {
	color:white;
}


.primary-nav--vertical > .menu > li.uky-expandablemenu--open a.active,
.primary-nav--vertical > .menu > li.uky-expandablemenu--active a.active{
	border-left: 4px solid #1897d4;
	background-color: transparent;
}

.primary-nav--vertical > .menu > li.uky-expandablemenu--open  li,
.primary-nav--vertical > .menu > li.uky-expandablemenu--active  li{
	background-color: #cdcdcd;
}

.primary-nav--vertical .menu li.uky-expandablemenu--open > .menu,
.uky-expandablemenu--active > .menu{
	display:block;

}

.primary-nav--vertical > .menu > li.uky-expandablemenu--active > a:after {
	content:"";
}

.primary-nav--vertical > .menu li.uky-expandablemenu--open  a,
.primary-nav--vertical > .menu li.uky-expandablemenu--active  a{
	text-decoration: none;
}



	
	
	
/* ========================= primary-nav--horizontal ========================= */	
	
	.primary-nav--horizontal .menu li {
		
		text-align: center !important;
	}
	
	.primary-nav--horizontal .menu .menu {
		min-width: 300px;
	}
	
	

.primary-nav--horizontal {
	padding: 15px 0 10px;
	border-bottom: 2px solid #C8C8C7

}

.primary-nav--horizontal .menu {
	list-style: none;
	display: table;
	margin-bottom: 0;
	width: 100%;
	text-transform: uppercase;

}

.primary-nav--horizontal .menu .menu {
	display:none;
	position: absolute;
	left:0;
	top:23px;
	width:100%;
	z-index: 1000;
	background: #f7f7f7;
}

.primary-nav--horizontal .menu .menu .menu {
	position: static;
}

.primary-nav--horizontal .menu .menu .menu a {
	padding-left:25px;
}

.primary-nav--horizontal .menu li:hover .menu {
	display:block;
}


.primary-nav--horizontal .menu .menu li {
	display:block;
	border:none;
	text-align:left;
	margin:0;
	padding:0;
}


.primary-nav--horizontal .menu .menu li a {
	color: black;
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 8px 25px 8px 15px;
	border-bottom: 1px solid white;
	transition: background-color .3s;
}

.primary-nav--horizontal  .menu .menu a:hover {
	background-color: #696969;
	text-decoration: none;
	color:white;
}

.primary-nav--horizontal  .menu .menu a[href^="javascript"]:hover {
	cursor: auto;
	color: black;
	background: none;
}

.primary-nav--horizontal .menu li {
	display: table-cell;
	text-align: center;
	border-left: 1px solid #C8C8C7;
	padding: 0 10px;
	position:relative;
}


.primary-nav--horizontal .menu li.first {
	text-align: left;
	border-left:none
}
	
	
	
	
	
	
	
	
/* ========================= section-nav ========================= */
	.section-nav > .menu > li > ul.menu {
		background: #FFF;
	}
	.section-nav > .menu > li > ul.menu li {
		background-color: #f7f7f7;
	}

	.section-nav > .menu > li > ul.menu a {
		color: black !important;
		font-size: 16px !important;
		display: block !important;
		width: 100% !important;
		/* padding: 8px 25px 8px 15px !important; */
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
	}

	.section-nav > .menu > li > ul.menu a.active {
		border-left: 5px solid #1897d4 !important;
		background: #C8C8C7 !important;
		color: #0033a0 !important;
	}
		.section-nav > .menu > li > ul.menu a.active:hover {
			border-left: 5px solid #1897d4 !important;
			background: #C8C8C7 !important;
			color: #0033a0 !important;
		}
	
	.section-nav > .menu a.active {
		border-left: 5px solid #1897d4 !important;
		background: #C8C8C7 !important;
		color: #0033a0 !important;
	}
		.section-nav > .menu a.active:hover {
			border-left: 5px solid #1897d4 !important;
			background: #C8C8C7 !important;
			color: #0033a0 !important;
		}

	.sidebar a.active-trail {
		color: black !important;
		font-size: 16px !important;
		display: block !important;
		width: 100% !important;
		/* padding: 8px 25px 8px 15px !important; */
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
		background-color: #f7f7f7;
	}


	
	.sidebar ul li.expanded {
		list-style-image: none;
		list-style-type: none;
	}



	.section-nav  .menu .menu a[href^="javascript"]:hover {
		cursor: auto;
		color: black;
		background: none;
	}
	
	
	

.section-nav__horizontal ul.menu li {
	margin:0;
	padding:0;

}

.section-nav > .menu > li.parentlink {
	list-style:none;
	font-weight: bold;
}

.section-nav > .menu > li.parentlink > a {
	font-size: 16px;
	color: #1f1f21;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: normal;
	font-weight: bold;
	display:none;
}

.section-nav > .menu > li > ul.menu {
	background: #f7f7f7;
}

.section-nav > .menu > li > ul.menu li {
	list-style: none;
	padding:0;
	margin: 0;
}

.section-nav > .menu > li > ul.menu a {
	color: black;
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 8px 25px 8px 15px;
	border-bottom: 1px solid white;
	transition: background-color .3s;

}

.section-nav > .menu > li > ul.menu li:last-child a {
	border-bottom:none;
}


.section-nav > .menu > li > ul.menu a.active {
	border-left: 4px solid #1897d4;
	background: #f1f1f1;
}

.section-nav > .menu > li > ul.menu a:hover {
	background-color: #696969;
	text-decoration: none;
	color:white;
}

.section-nav  .menu .menu a[href^="javascript"]:hover {
	cursor: auto;
	color: black;
	background: none;
}

	
	
	
	
	
/* ========================= uky-offcanvas ========================= */	

body {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.middle-container {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.uky-offcanvas,
.uky-offcanvas[aria-hidden=true] {
	display: block !important;
	width:300px;
	background: #2C2A29;
	position: fixed;
	right: -320px;
	top: 60px;
	height: 95vh;
	overflow-y:auto;
	-ms-overflow-style:none;
	z-index: 1000;
	padding-bottom:60px;
	transition: transform 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
}
.uky-offcanvas--open {
	display: block;
	-webkit-transform: translate3d(-320px, 0, 0);
	-moz-transform: translate3d(-320px, 0, 0);
	-ms-transform: translate(-320px, 0);
	transform: translate3d(-320px, 0, 0);
}
.uky-offcanvas__list > .menu{
	float: left;
	margin: 0;
	padding: 10px 0 0 0px;
	width: 300px;
}
.uky-offcanvas__list-item,
.uky-offcanvas__list > .menu  li
{
	list-style: none;
	border-bottom: 1px solid #393735;
	padding: 0;
	margin:0;
}

.active-
.uky-offcanvas__link,
.uky-offcanvas__list > .menu a{
	display: block;
	font-family: Muli;
	color: white;
	padding: 10px 5px 10px 35px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.uky-offcanvas__list a.active {
border-left:4px solid #1897d4;
	background: #454341;
}

.uky-offcanvas__list > .menu .menu li {
	border-bottom: none;
}

.uky-offcanvas__list > .menu .menu a {
	padding: 10px 5px 10px 55px;
}

.uky-offcanvas__link:hover,
.uky-offcanvas__list > .menu a:hover{
	text-decoration: none;
	color: white;
	background: black;
}


.uky-offcanvas__content {
	transition: transform 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
}
.uky-offcanvas__content--open {

	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate(-300px, 0);
	transform: translate3d(-300px, 0, 0);
	transition: transform 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
}

.uky-offcanvas__button .fa {
	line-height: 40px;
	font-size: 20px;
}
@media (min-width: 768px) {
	.uky-offcanvas__button .fa {
		line-height: inherit;
		font-size: inherit;
	}
}

.no-touchevents .uknow-section-offcanvas__button:hover {
	background: white;
	color: #0033a0;
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
	body .uky-offcanvas__button {

		padding:0;
	}
}

@media only screen and (max-width: 991px) {
	body .uky-offcanvas__button {
		left:0;

	}

	body .uky-offcanvas__button {
		margin: 10px 0 ;
	}
}


.uky-offcanvas__search {
	float: left;
	width: 320px;
	min-height: 1px;
	padding: 10px 4px 10px 40px;
	border-radius: 0;
	background: black;
}

.uky-offcanvas__search svg {
	fill:white;
	position:absolute;
	left:15px;
	top:20px;
	height: 15px;
	width:15px;
}


.uky-offcanvas__search__input {
	width: 100%;
	font-size: 16px;
	height: 35px;
	color:white;
	background: black;
	border:none;
}

.uky-offcanvas__search__input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    white;
}
.uky-offcanvas__search__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    white;
	opacity:  1;
}
.uky-offcanvas__search__input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    white;
	opacity:  1;
}
.uky-offcanvas__search__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    white;
}

.uky-offcanvas__button {
	display: block;
	height: 40px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	background: none;
	color: white;
	border: none;
	padding: 2px 10px;
	transition: background-color 0.2s;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-right: 10px;
	margin: 7px 10px;}
	
	
/* ========================= Block Menu CSS ========================= */	


	.block-menu .menu {
		background-color: #f7f7f7;
	}
	
	.block-menu > .menu > li > ul.menu {
		background: #FFF;
	}
	.block-menu > .menu > li > ul.menu li {
		background-color: #f7f7f7;
	}

	.block-menu > .menu > li > ul.menu a {
		color: black !important;
		font-size: 16px !important;
		display: block !important;
		width: 100% !important;
		/* padding: 8px 25px 8px 15px !important; */
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
	}

	.block-menu > .menu > li > ul.menu a.active {
		border-left: 5px solid #1897d4 !important;
		background: #C8C8C7 !important;
		color: #0033a0 !important;
	}
		.block-menu > .menu > li > ul.menu a.active:hover {
			border-left: 5px solid #1897d4 !important;
			background: #C8C8C7 !important;
			color: #0033a0 !important;
		}
	
	.block-menu > .menu a.active {
		border-left: 5px solid #1897d4 !important;
		background: #C8C8C7 !important;
		color: #0033a0 !important;
	}
		.block-menu > .menu a.active:hover {
			border-left: 5px solid #1897d4 !important;
			background: #C8C8C7 !important;
			color: #0033a0 !important;
		}

	.block-menu a.active-trail {
		color: black !important;
		font-size: 16px !important;
		display: block !important;
		width: 100% !important;
		/* padding: 8px 25px 8px 15px !important; */
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
		background-color: #f7f7f7;
	}

	
	.block-menu ul li.expanded {
		list-style-image: none;
		list-style-type: none;
	}

	
	.block-menu  .menu .menu a[href^="javascript"]:hover {
		cursor: auto;
		color: black;
		background: none;
	}
		

.block-menu .menu {
	background: #f7f7f7;
}

.block-menu .menu li {
	margin:0;
	padding:0;
	list-style: none;
}


.block-menu .menu .menu a {
	padding-left:20px;
}

.block-menu .menu li a{
	color: black;
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 8px 25px 8px 15px;
	border-bottom: 1px solid white;
	transition: background-color .3s;

}

.block-menu .menu li a:focus {
	text-decoration: none;
}

.block-menu .menu li a.active
{
	border-left: 4px solid #1897d4;
	background: #C8C8C7;
}






