
@media only screen and  (max-width: 991px) {
.uky-offcanvas__button {
	/*margin: 0;*/
}

}


/* Off-canvas */
body {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.middle-container {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.uky-offcanvas,
.uky-offcanvas[aria-hidden=true] {
	display: block !important;
	width:300px;
	background: #2C2A29;
	position: fixed;
	right: -320px;
	top: 60px;
	height: 95vh;
	overflow-y:auto;
	-ms-overflow-style:none;
	z-index: 1000;
	padding-bottom:60px;
	transition: transform 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
}
.uky-offcanvas--open {
	display: block;
	-webkit-transform: translate3d(-320px, 0, 0);
	-moz-transform: translate3d(-320px, 0, 0);
	-ms-transform: translate(-320px, 0);
	transform: translate3d(-320px, 0, 0);
}
.uky-offcanvas__list > .menu{
	float: left;
	margin: 0;
	padding: 10px 0 0 0px;
	width: 300px;
}
.uky-offcanvas__list-item,
.uky-offcanvas__list > .menu  li
{
	list-style: none;
	border-bottom: 1px solid #393735;
	padding: 0;
	margin:0;
}

.active-
.uky-offcanvas__link,
.uky-offcanvas__list > .menu a{
	display: block;
	font-family: Muli;
	color: white;
	padding: 10px 5px 10px 35px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.uky-offcanvas__list > .menu .menu {
	/*background: #4A4746;*/
}


.uky-offcanvas__list a.active {
border-left:4px solid #1897d4;
	background: #454341;
}

.uky-offcanvas__list > .menu .menu li {
	border-bottom: none;
}

.uky-offcanvas__list > .menu .menu a {
	padding: 10px 5px 10px 55px;
}

.uky-offcanvas__link:hover,
.uky-offcanvas__list > .menu a:hover{
	text-decoration: none;
	color: white;
	background: black;
}
.uky-offcanvas__button-text {
	/*display: none;*/
	/*font-family: Muli;*/
}
@media (min-width: 768px) {
	/*.uky-offcanvas__button-text {*/
		/*display: inline;*/
	/*}*/
}
.uky-offcanvas__content {
	transition: transform 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
}
.uky-offcanvas__content--open {

	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate(-300px, 0);
	transform: translate3d(-300px, 0, 0);
	transition: transform 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
}
.uky-offcanvas__button {
	/*display: block;*/
	/*height: 46px;*/
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	/*font-weight: 800;*/
	/*background: #143887;*/
	/*color: white;*/
	/*border: none;*/
	/*padding: 2px 10px;*/
	/*transition: background-color 0.2s;*/
	/*line-height: 40px;*/
	/*text-align: center;*/
	/*float: left;*/
	/*margin-right: 10px;*/
	/*margin: 7px 10px 7px 0;*/
}
.uky-offcanvas__button .fa {
	line-height: 40px;
	font-size: 20px;
}
@media (min-width: 768px) {
	.uky-offcanvas__button .fa {
		line-height: inherit;
		font-size: inherit;
	}
}
@media (min-width: 768px) {
	.uky-offcanvas__button {
		/*border: 1px solid white;*/
	}
}
.no-touchevents .uknow-section-offcanvas__button:hover {
	background: white;
	color: #0033a0;
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
	body .uky-offcanvas__button {

		padding:0;
	}
}

@media only screen and (max-width: 991px) {
	body .uky-offcanvas__button {
		left:0;

	}

	body .uky-offcanvas__button {
		margin: 10px 0 ;
	}
}


.uky-offcanvas__search {
	float: left;
	width: 320px;
	/*margin: 10px 5px 10px 5px;*/
	/*position: relative;*/
	min-height: 1px;
	padding: 10px 4px 10px 40px;
	border-radius: 0;
	background: black;
}

.uky-offcanvas__search svg {
	fill:white;
	position:absolute;
	left:15px;
	top:20px;
	height: 15px;
	width:15px;
}


.uky-offcanvas__search__input {
	width: 100%;
	font-size: 16px;
	height: 35px;
	color:white;
	background: black;
	border:none;
	/*text-align: center;*/
}

.uky-offcanvas__search__input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    white;
}
.uky-offcanvas__search__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    white;
	opacity:  1;
}
.uky-offcanvas__search__input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    white;
	opacity:  1;
}
.uky-offcanvas__search__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    white;
}

.uky-offcanvas__button {
	display: block;
	height: 40px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*font-weight: 800;*/
	font-size: 16px;
	text-transform: uppercase;
	background: none;
	color: white;
	border: none;
	padding: 2px 10px;
	transition: background-color 0.2s;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-right: 10px;
	margin: 7px 10px;}


@media only screen and  (max-width: 991px) {
.uky-offcanvas__button {
	/*margin: 0;*/
}

}



	
	
	
