/* = OVERRIDES
--------------------------------------------------------------------------------------------------*/

	#footer-wrapper {
		background: #2c2a29;
		border-top: 1px solid #003a0;
	}
	
	.footer-bottom {
		border-bottom: none;
	}
	
	.front #content {
		padding: 0 0 20px;
	}
	.front #content h2 {
		margin-top: 0px;
	}
	
	.sidebar {
		margin-top: 0;
		padding-top: 0;
	}
	
	#header .header-banner {
		overflow-x: auto;
		white-space: nowrap;
		/* min-height: 300px !important; */
	}
	
	#header-inner {
		padding-top: 25px;
	}
	.header-inner { 
		padding: 15px !important;
	}
	
	.subsite-title { 
		margin-top: 0px !important;
	}
	
	.subsite-title .title {
		text-align: center;
	}
	
	div.subsite-title.row.interior {
		color: #fff;
		background-color: #2C2A29;
	}
	a.title.interior {
		color: #fff;
		text-align: center;
		font-family: 'Lora', serif !important;
		text-shadow: 2px 2px 1px rgba(0,0,0,.9);
	}
	
	.site-description {
		background: rgba(0, 51, 160, .7);
		margin-bottom: 50px;
	}
	.site-description p {
		background: none;
	}

	.promoted_to_front {
		color: #0033a0;
		margin-top: 50px;
		border-bottom: 1px solid #C8C8C7;
		font-size: 30px;
	}

	


	
	#user-login-form {
		margin: 0 10px 0 10px !important;
	}
	
	.sidebar_title_style h2 {
		color: #fff !important;
		margin-bottom: 10px !important;
		border-bottom: none !important;
		padding: 5px 0 5px 12px !important;
		background: #0033a0 !important;
		/* box-shadow: 5px 5px 5px #a5acaf !important; */
		border: 1px solid #2C2A29 !important;

	}
	
	.home-sidebar {
		text-align: center;
		background-color: #f7f7f7;
		color: #0033a0 !important;
		font-size: 24px !important;
		display: block !important;
		width: 100% !important;
		padding: 8px 15px 8px !important;
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
	}
		.home-sidebar:hover {
			background-color: #0033a0 !important;
			text-decoration: none !important;
			color:white !important;
		}
		
	.home-offcanvas {
		text-align: center;
		background-color: #2C2A29;
		color: #fff !important;
		font-size: 24px !important;
		display: block !important;
		width: 100% !important;
		padding: 8px 15px 8px !important;
	}
		.home-offcanvas:hover {
			background-color: #000 !important;
			text-decoration: none !important;
			color:white !important;
		}	

	.home-horizontal {
		text-align: center;
		background-color: #f7f7f7;
		color: #0033a0 !important;
		font-size: 24px !important;
		display: block !important;
		width: 100% !important;
		padding: 8px 15px 8px !important;
		border-bottom: 1px solid white !important;
		transition: background-color .3s !important;
	}
		.home-horizontal:hover {
			background-color: #63656a !important;
			text-decoration: none !important;
			color:white !important;
		}		
		
		
		
		
	
.uky-expandablemenu__toggle {
	font-family: FontAwesome;
	color: black;
	font-size: 12px;
	position: absolute;
	right: 0px;
	background: #f7f7f7;
	top: 0;
	padding: 0 10px;
	border:none;
	border-left: 2px solid white;
	border-bottom: 1px solid white;
	height:100%;
	cursor: pointer;
}

	.uky-expandablemenu__toggle:hover {
		background-color: #0033a0;
		color:white !important;
	}

	.uky-expandablemenu__toggle:after {
		content: "\f067";
		width:10px;
		line-height: 40px;	
		color: #0033a0;
	}
	.uky-expandablemenu__toggle:hover:after {
		color: #fff;
	}


	.uky-expandablemenu--open > .uky-expandablemenu__toggle:after {
		content: "\f068";

	}

	.uky-expandablemenu--active > .uky-expandablemenu__toggle {
		/*content:"";*/
		display: none;
	}
/*
	.uky-offcanvas .uky-expandablemenu__toggle {
		background: #0033a0;
		height:44px;
		padding: 0 22px;
		color:white;
		border-left-width: 1px;
	}
*/

	.uky-offcanvas__list-item, .uky-offcanvas__list > .menu  li {
		padding-right: 35px !important;
		}
	
	.uky-offcanvas .uky-expandablemenu__toggle {
		background: #2C2A29;
		border-left: 2px solid #393735;
		border-bottom: 1px solid #393735;
		}
		.uky-offcanvas .uky-expandablemenu__toggle:hover {
			background: #000;
			}
	
	.uky-offcanvas .uky-expandablemenu__toggle:after {
		color: white;
	}
	
	
	
	
	.sidebar ul > li {
		list-style: none !important;
	}
	.sidebar ul ul > li {
		/* margin-left: 15px !important; */
		padding-left: 15px !important;
	}
	.sidebar ul ul li ul > li {
		/* margin-left: 15px !important; */
		padding-left: 15px !important;
	}

	
	h1#page-title.title.page-header {
		font-size: 50px !important;
		line-height: 1.1;
	}
	
	h1 {
		font-size: 40px !important;
	}
	
	.subsite-title h1 {
		font-size: 56px !important;
	}
	
	h2.title-link {
		font-size: 25px;
	}
	
	
	

	
	/* Above and Below Content */
	
	.region-above-content {
		border-bottom: 2px solid #0033a0;
		margin-bottom: 15px;
	}
	
	.region-below-content {
		border-top: 2px solid #0033a0;
		margin-top: 15px;
	}
	
	
	.sidebar .nolink {
		font-size: 16px;
		display: block;
		width: 100%;
		padding: 8px 15px 8px;
		border-bottom: 1px solid white;
		transition: background-color .3s;
	}
	
	.uky-offcanvas .nolink {
		display: block;
		font-family: Muli;
		color: white;
		padding: 10px 5px 10px 35px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}
	
	.sidebar {
		font-size: 16px !important;
		overflow: hidden !important;
	}
	
	/* Main Background */
	/*
.main-option-boxed {
	background-color: #0033a0;
	background-image: url("../img/seeblue-tile.png");
	background-attachment: fixed;
	background-repeat: repeat-x repeat-y; 
	width: 100%;
}

.main-option-wide {
	width: 100%;
}


#main {
	background: #FFFFFF;
	border: 2px solid #2C2A29;
	border-radius: 10px;
	padding: 15px;
	margin: 25px 0px;
}
*/

.vspace {
	margin: 15px 0 !important; 
}

.hspace {
	margin: 0 15px !important;
}


#block-search-form {
    display: none !important;
}



/* Fixes Menu Block rendering on mobile */
@media (max-width: 480px) {
	#main-wrapper .region .block-menu ul.menu {
		top: 0px !important;
		display: inherit !important;
		background: #f7f7f7 !important;
		position: relative !important;
	}
}



