.item-list {
  text-align: center;
}
.item-list .pager {
  text-align: center;
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 15px;
}
.item-list .pager .pager-first a,
.item-list .pager .pager-last a,
.item-list .pager .pager-previous a,
.item-list .pager .pager-next a,
.item-list .pager .pager-current a,
.item-list .pager .pager-item a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  margin-left: -1px;
  border-radius: 0px;
  -webkit-transition: color 0.25s, border 0.25s, background-color 0.25s;
  transition: color 0.35s, border 0.25s, background-color 0.25s;
  -webkit-font-smoothing: antialiased !important;
}
.item-list .pager .pager-first a:hover,
.item-list .pager .pager-last a:hover,
.item-list .pager .pager-previous a:hover,
.item-list .pager .pager-next a:hover,
.item-list .pager .pager-current a:hover,
.item-list .pager .pager-item a:hover {
  background: #C8C8C7;
}
.item-list .pager .pager-current,
.item-list .pager .pager-ellipsis {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  margin-left: -1px;
  border-radius: 0px;
  -webkit-transition: color 0.25s, border 0.25s, background-color 0.25s;
  transition: color 0.35s, border 0.25s, background-color 0.25s;
  -webkit-font-smoothing: antialiased !important;
}
.item-list .pager li:first-child,
.item-list .pager .pager-previous a {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.item-list .pager li:last-child,
.item-list .pager .pager-next a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.item-list .pager .pager-first,
.item-list .pager .pager-last {
  border: none;
  margin: 0;
  display: none;
}
.item-list .pager .pager-previous a:hover {
  background: #C8C8C7;
}
.item-list .pager .pager-next a:hover {
  background: #C8C8C7;
}
.item-list .pager .pager-current {
  background: #143887;
  color: white;
  font-weight: normal;
  border-color: #143887;
}
.item-list .pager li,
.item-list .pager .pager-item {
  display: inline;
  padding: 0;
  margin: 0;
}