/*! http://responsiveslides.com v1.53 by @viljamis */

.region-showcase {
    display: block;
    float: left;
    width: 100%;
}
.view-slideshow-images {
  width: 100%;
  position: relative;
}

.rslides {
  margin-bottom: 20px;
  width: 100%;

}

.rslides, .rslides_tabs {
  display: block;
  float: left;
}

.rslides li {
    width: 100%;
}

.rslides li a {
}

.rslides li a:hover {
    text-decoration: none;
}

.rslides_tabs {
  position: absolute;
  display: none;
  z-index: 10;
  right: 10px;
  top: 290px;
}
.rslides_tabs li {
  float: left;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.rslides_tabs li.rslides_here a {
    background-position: -20px top;
}
.rslides_tabs li a {
  background: url(../img/slider_pager.png) top left no-repeat;
  padding-left: 20px;
}

.rslides li img {
  display: block;
  width: 100%;
}

.rslides li {
  padding: 0.5em;
}

.rslides li .slide-overlay {
  line-height: 1.5em;
  overflow: hidden;

/*  display: block;
  color: #999;*/
}


/*
.view-slideshow-images {
  position: relative;
    margin-bottom: 3em;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides_nav {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  background: #000;
  margin-top: -180px;
  z-index: 999;
  }

.rslides_nav.next {
  float: right;
  }
  
.rslides_tabs {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: 9999;
  background-color: #0033a0;
}
  
.rslides_tabs li {
  display: inline-block;
  height: 100%;
  text-align: center;
}

.rslides_tabs li a {
  line-height: 16px;
  padding: 5px 10px;
  font-size: 16px;
  color: #FFF;
  display: inline-block;
  position: relative;
}

.rslides_tabs li a:hover {
  text-decoration: none;
  background: #1B5FAF;
}

.rslides_tabs li.rslides_here a {
  background: #FFF;
  color: #0033a0;
}

.rslides li .slide-wrap {
	position: relative;
	float: left;
	width: 100%;
}

.rslides li .slide-wrap .slide-content {
	float: left;
	height: 60px;
	padding: 20px 0;
	width: 100%;
	display: block;
	margin-top: -100px;
	background: url(../img/bgi/slide-content-bg.png) left top repeat;
}

.rslides li .slide-overlay {
  position: relative;
  height: 3em;
  display: inline-block;
    width: 100%;
}

@media (max-width: 640px) {
	#content .rslides li .slide-wrap .slide-content p {
		font-size: 16px;
	}
}