/* = uk-socialmedia
--------------------------------------------------------------------------------------------------*/

/* ===== GENERAL ===== */
	.uk-socialmedia {
		font-size: 45px;
	}

	.uk-socialmedia__list {
		display: table;
		margin-bottom: 0;
		width: 100%;
	}
		.uk-socialmedia__list-item {
			display: inline;
			padding: 0;
			position: relative;
			text-align: center;	
		}
	
	.uk-socialmedia__name {
		display:none;
	}

/* ===== COMPACT ===== */
	.uk-socialmedia--compact {
		font-size: 35px;
	}

	.uk-socialmedia--compact
	.uk-socialmedia__list-item {
		padding: 0 5px;
		display: table-cell;
		text-align: center;
	}
	
/* ===== SIDEBAR ===== */
	.uk-socialmedia--sidebar {
		display: block;
		width: 100%;
		padding: 15px 0;
		border: 1px solid #dededf;
		border-width: 1px 0 1px 0;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 10px;
	}
	
	.uk-socialmedia--sidebar .uk-socialmedia__list .uk-socialmedia__link:hover {
		color: #2c2a29;
	}

/* ===== FOOTER ===== */
	.uk-socialmedia--footer .uk-socialmedia__list {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0 10px 10px;
	}
		@media (max-width: 640px) {
			.uk-socialmedia--footer .uk-socialmedia__list {
				display: table;
				text-align: center;
				margin: 10px 10px 20px;
			}
		}

	.uk-socialmedia--footer .uk-socialmedia__list .uk-socialmedia__link {
		color: white !important;
	}
		.uk-socialmedia--footer .uk-socialmedia__list .uk-socialmedia__link:hover {
			color: #C8C8C7 !important;
		}
		
	@media (max-width: 640px) {
		.uk-socialmedia__list {
			text-align: center;
		}
	}


