@charset "utf-8";

/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext);*/

/*--------------------------------------------------------------------------------------------------
CSS Styles for <KENTUCKY>.

version:   1.0
--------------------------------------------------------------------------------------------------*/

/* =CSS Reset
--------------------------------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;	padding: 0; border: 0;	font-size: 100%; font: inherit;	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';	content: none;}
table {	border-collapse: collapse; border-spacing: 0;}

/* End CSS Reset
--------------------------------------------------------------------------------------------------*/

/* remember to define focus styles! */
:focus {	outline: 0;}
/* =Toolkit
--------------------------------------------------------------------------------------------------*/

/* Micro Clearfix Hack by Nicholas Gallagher (http://nicolasgallagher.com/micro-clearfix-hack/) */
/* For modern browsers */ 
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }

/* general purpose classes */
.nodisplay { display:none; }
.nodisplay_strict { display:none !important; }
.alignleft { float:left; }
.alignnone { clear:both;	font-size:0; line-height:0; margin:0; padding:0;	border:0; height:0; width:0;}
.alignright { float:right;}

/* End Toolkit
--------------------------------------------------------------------------------------------------*/

/* =Normalization - mostly derived from normalize.css (https://github.com/necolas/normalize.css/) but without comments and compressed to keep the file small
--------------------------------------------------------------------------------------------------*/

hr { display:block; height:1px; border:0; margin:1em 0; padding:0; border-top:1px solid #cccccc; /* change border colour to suit your needs */ }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { overflow-y: scroll; font-size: 100%;}
body, button, input, select, textarea { font-family: 'Muli', sans !important; }
a:focus { outline: none; }
a:hover, a:active { outline: none; }
h1 {}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {}
dd { margin: 0px; }
nav ul, nav ol { list-style: none; list-style-image: none; }
ins {text-decoration: none;}
del { text-decoration: line-through; }
abbr[title] { border-bottom: 1px dotted; cursor:help; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre, code, kbd, samp { font-family: 'Muli', sans !important;}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
small { font-size: 100%; }
sub,sup { font-size: 100%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align:top;}
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: none; margin: 0; padding: 0; }
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px;}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button{ border: 0; padding: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance:none; -webkit-border-radius:0; *overflow: visible; -webkit-border-radius:0px;}
input, select { vertical-align:middle; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px;}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0;}
textarea { overflow: auto; vertical-align: top; resize: none;}
::-moz-focus-inner {border: 0; outline: 0;}
/* End Normalization
--------------------------------------------------------------------------------------------------*/

/* =Typography
--------------------------------------------------------------------------------------------------*/

/* Setting up the fonts */
body {	font: 18px/23px  'Muli', sans !important; color:#444444;  background:#f7f7f7;}

@font-face {
	font-family: 'Muli', sans !important;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli', sans !important;
	font-weight: normal;
	font-style: normal;
}

/* End Typography
--------------------------------------------------------------------------------------------------*/


/* =Headings
--------------------------------------------------------------------------------------------------*/
h1 {font-family: 'Muli', sans !important; color: #FFF; font-size: 36px;}
h2 {color:#0033a0; font-size:26px; line-height:31px; font-weight:normal; padding-bottom:5px; color:#0033a0; font-family: 'Muli', sans !important; letter-spacing: normal;}
h3 {background:url(../img/bgi/newshead-bg.png) no-repeat left top; font-size:26px; line-height:37px; color:#fff; font-weight:normal; padding:0 0 0 12px; font-family: 'Muli', sans !important; letter-spacing: normal;}
h3 {font-size:20px; line-height:28px; font-weight:normal; color:#0033a0; border-bottom:1px solid #C8C8C7; padding-bottom:5px; margin-bottom:16px; background: none;}
h4 {font-size:16px; color:#8aa3b8; line-height:20px; display:block; padding-bottom:3px; font-family: 'Muli', sans !important; letter-spacing: normal;}
h5 {font-size:20px; line-height:28px; font-weight:normal; color:#0033a0; border-bottom:1px solid #C8C8C7; padding-bottom:5px; margin-bottom:16px;}
h6 {font-size:18px; line-height:24px; font-weight:normal; color:#0033a0; padding-bottom: 9px; display:block;}

.title-link a {
	text-transform: capitalize;
	color: #0033a0;
	background: none;
	font-family: 'Muli', sans !important;
	font-weight: normal;
	line-height: 31px;
	padding-bottom: 5px;
}
.title-link a:hover {
	text-decoration: none;
}

h1.page-header {
	margin: 5px 0 10px 0 !important;
	line-height: 40px;
	font-size: 40px;
}

@media (min-width: 971px) {
	h1.page-header {
		line-height: 56px;
	}
}



h1.page-header,
.field-name-body h2,
.field-name-body h3,
.field-name-body h4,
.field-name-body h5,
.field-name-body h6 {
	background: none;
	color: #0033a0;
	font-family: 'Muli', sans !important;
	font-weight: normal;
	/*line-height: 31px;*/
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #C8C8C7;
	/*letter-spacing: 0.06em;*/
}
.field-name-body h3 {
	font-size: 23px;
}
.field-name-body h4 {
	font-size: 20px;
}
.field-name-body h5 {
	font-size: 17px;
}
.field-name-body h6 {
	font-size: 14px;
}
/* End Headings
--------------------------------------------------------------------------------------------------*/


/* =Images
--------------------------------------------------------------------------------------------------*/
.field-name-field-header-image img {
	width: 100%;
}
.field-name-body img {
	border: 1px solid #CCC;
	border-radius: 2px;
	display: block;
	margin: 0 0 15px;
	padding: 3px;
	max-width: 100%;
}
.field-name-body img[align="left"],
.field-name-body img[style*="float: left"],
.field-name-body img[style*="float:left"] {
    margin: 1em 1em 1em 0;
}
.field-name-body img[align="right"],
.field-name-body img[style*="float:right"],
.field-name-body img[style*="float: right"] {
    margin: 1em 0 1em 1em;
}

.field-name-body img.no-border {
	border: none;
}
.field-name-body img.image-page_header {
	padding: 0;
	border: none;
	width: 100%;
	margin: 0;
	border-radius: 0px;
}

#sidebar-first .logo-interior {
	padding: 2em 10%;
	width: 80%;
}

#mobile-interior-logo {
    display: none;
}
/* End Images
--------------------------------------------------------------------------------------------------*/


/* =Links
--------------------------------------------------------------------------------------------------*/
a {text-decoration:none; color:#00479a;	cursor:pointer; outline: 0;}
a:hover {text-decoration:underline;}

/* End Links
--------------------------------------------------------------------------------------------------*/


/* =Branding
--------------------------------------------------------------------------------------------------------*/
p {padding:0 0 0px 0; margin:0;}
html, body, #page{height:100%;} 
html, body {overflow-y: visible;}
#page {position:relative; width: 100%; background-color:white;}
#page-wrapper{width:100%; background: #0033a0; min-height:100%;}
/*.wrap-inner, .section{width:970px; margin:0 auto;}*/
#header{position:relative; z-index:9; background: #2C2A29;}
#header-inner {}

#header .header-banner {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	z-index: -1;
	/*-webkit-filter: brightness(0.8) contrast(1.3) grayscale(0.5);*/
	/*filter: brightness(0.8) contrast(1.3) grayscale(0.5);*/
}

.subsite-title h1 {
	color:white;
	text-align: center;
	font-family: 'Lora', serif !important;
	text-shadow: 2px 2px 1px rgba(0,0,0,.9);
}

.site-description p {
	margin: 20px 0;
	color:white;
	padding:15px;
	background: rgba(0, 51, 160, .7);
	/*text-shadow: 2px 2px 1px rgba(0,0,0,.5);*/
}

/*#header-inner .wrap-inner{padding-top:26px; min-height:143px;}*/
/*#header-inner .wrap-inner{padding-top:24px; position:relative; }*/
.head-uk{position:absolute; left:-45px; top:0; width:44%;}
.head-uk img{width:100%;}
#logo { padding:0; display:table;}
#logo {  width:25%; float:left; min-height: 143px; margin-top: -16px;}
#logo a, #logo-inner a {background:none; display:table-cell; vertical-align:middle; }
#logo a, #logo-inner a { text-decoration:none; }
#logo a img, #logo-inner a img {width:100%; }

.head-right {position: relative;}
.head-right .content {position: absolute; display: table; height: 116px;}
.head-right .content p {display: table-cell; vertical-align: middle;}
/*#main-wrapper {padding:0px 0 30px; background:white; }*/
/*#content {width:68%; padding:0;}*/
/*#sidebar-first, #sidebar-second, #main-menu, #interior-logo {width:32%; padding-top: 20px; clear:left;}*/
.front #content {padding: 20px 0 0 0;
	/*width: 68%;*/
}
.front #content .block {width: 97%; padding-left: 3%; float: left;}
#content-header {display: table; width: 100%; height: auto; background: #678fc0;}
#content {
	padding-bottom: 6px; }
.wrap-top{background:url(../img/bgi/wrap-topbg.png) repeat-x left top ; height:45px; }
.head-right{width:64.6%; padding-right:1.4%;}
.head-right{padding-right:4px; height: 116px;}
.head-right p{color:#eeeeee; line-height:23px; font-size:16px;}
.not-front .head-right {width: 65%; padding: 0;}
.menulink{display:none;}
.topRightLink li{float:left; padding:8px 0 8px 22px;}
.topRightLink li:first-child{padding:8px 0 8px 0;}
.topRightLink li a{display:block; line-height:28px; font-size:11px; color:#f7f7f7; text-transform:uppercase; font-family: 'Muli', sans !important;}
.topRightLink li a img {vertical-align: sub; width: 80%;}
.top-link{padding-right:12px;}
.top-link li{float:left; padding:8px 0 8px 26px;}
.top-link li:first-child{padding:8px 0 8px 0;}
.top-link li a{display:block; line-height:28px; font-size:12px; color:#f7f7f7; text-transform:uppercase; font-family: 'Muli', sans !important;}

	/*	styles for branding on interior pages	*/
/*.not-front #header-inner .wrap-inner{padding-top:0px; min-height: 0px;}*/
.not-front .head-right h1 {padding-top: 8%;}
#logo-inner { display:block; width:15%; padding: 1.8% 10% 1.8% 10%; z-index:1;}

.uk-global-header__logo img {
	margin-left:-10px;
}

.subsite-title {
	margin-top:10px;
}

.subsite-title .title {
	font-family: 'Lora', sans;
	/*font-weight: bold;*/
	color:#2C2A29;
	font-size: 35px;
	margin:14px 0 16px;
	display: block;
}

.subsite-title .col-md-12 {
	/*padding-left: 0;*/
}
@media only screen and (max-width: 991px) {
	.subsite-title {
		margin-top:0px;
	}

	.subsite-title .title {
		font-size: 30px;
		line-height:35px;
		margin:10px 0;
	}
}


.subsite-title .title:hover {
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
	.subsite-title .title {
		font-size: 25px;
		line-height:25px;
	}
}



/* End Branding
--------------------------------------------------------------------------------------------------------*/


/* Global header */
body.uk-global-header--fixed {
	padding-top:60px;
}

body.uk-global-header--fixed .uk-global-header{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 500;
}


.uk-global-header {
	width: 100%;
	height: 60px;
	transition: top 0.175s ease-in-out;

}

@media (min-width: 768px) {

	.uk-global-header {
		height: 60px;
	}
}

.uk-global-header.header-hidden {
	top:-60px;
}


body .uk-global-header__logo {
	margin-top:0;
}
body .uk-global-header__search-button button {
	padding-top:5px;
}

body .uk-global-header__search-button button svg {
	height:20px;
	width:20px;
}

@media only screen and (max-width: 767px) {
	body .uk-global-header__search-button {
		display:none;
	}


}

@media only screen and (max-width: 991px) {

	body .uk-global-header__search-button {
		display:none;
	}

	body .uk-global-header__right-nav {
		position: relative;
		left:15px;
	}

}




@media only screen and (min-width: 768px) and (max-width: 991px) {
	body .uk-global-header header {
		width:97.5%;
	}
}



.page-search #search-form {
	display: none;
}

.uk-searchresults {}
.uk-searchresults__list-item{
	margin-bottom: 20px;
}

.uk-searchresults__link,
.uk-searchresults--google #GCSEresults .gs-webResult.gs-result a.gs-title,
.uk-searchresults--google #GCSEresults .gs-webResult.gs-result a.gs-title b{
	font-size: 16px;
	color: #0033a0;
	padding: 0;
	font-weight: 500;
	line-height: 1.1;
	text-decoration: underline;
	font-family: 'Muli', sans !important;
}

.uk-searchresults__url,
.uk-searchresults--google #GCSEresults .gs-visibleUrl{
	color: #9d9d9d;
	text-decoration: none;
	padding-bottom: 2px;
	word-break: break-all;
	font-size:13px;
	font-family: 'Muli', sans;

}
.uk-searchresults__snippet,
.uk-searchresults--google #GCSEresults .gs-snippet{
	font-size:13px;
	margin:0 !important;
	line-height: 16px !important;
	font-family: 'Muli', sans;
}

.uk-searchresults__more {
	display: block;
	float: right;
	margin: 10px 0 30px;
}

.uk-searchresults--google{
margin-top:80px;
}

.uk-searchresults--google #GCSEresults .gcsc-branding {
	/*width:auto;*/
	/*float:left;*/
}

.uk-searchresults--google #GCSEresults .gsc-control-cse,
.uk-searchresults--google #GCSEresults .gsc-webResult.gsc-result {
	background-color:white;
	padding-left: 0;
}

/*.uk-searchresults--google #GCSEresults .gs-webResult.gs-result a.gs-title,*/
/*.uk-searchresults--google #GCSEresults .gs-webResult.gs-result a.gs-title b{*/
	/*font-size: 16px;*/
	/*color: #0033a0;*/
	/*padding: 0;*/
	/*text-decoration: none !important;*/
	/*font-weight: 500;*/
	/*line-height: 1.1;*/
	/*font-family: 'Muli', sans !important;*/
/*}*/

.uk-searchresults--google #GCSEresults .gsc-above-wrapper-area {
	display: none;
}

.uk-searchresults--google #GCSEresults .gs-visibleUrl {
	/*color: #9d9d9d;*/
}

.uk-searchresults--google #GCSEresults .gsc-table-result,
.uk-searchresults--google #GCSEresults .gsc-thumbnail-inside,
.uk-searchresults--google #GCSEresults .gsc-url-top {
	padding-left: 0;
}

.uk-searchresults--google #GCSEresults .gsc-cursor {
	display: none;
	width: 300px;
}

.uk-searchresults--google h2 {
	margin-bottom: 0;
}

.uk-searchresults--google .uk-searchresults__google-branding {
	font-size: 10px;
	color: #737373;
	font-family: Arial, sans-serif;
}

table.gcsc-branding {
	display: none;
}

td.gsc-branding-text div.gsc-branding-text, td.gcsc-branding-text div.gcsc-branding-text {
	text-align: left !important;
}

table.gcsc-branding td {
	display: block;
	float: left;
}

/* =Main Nav
--------------------------------------------------------------------------------------------------*/

.mobile-menu ul {display: none;}


.front #main-menu-links li a {text-transform: capitalize; font-family: 'Muli', sans !important;}


@media (min-width: 991px) {
	#main {
		margin-top:50px;
	}
}




/* End Main Nav
--------------------------------------------------------------------------------------------------*/






/* =Main Content
--------------------------------------------------------------------------------------------------*/
body .row {margin-left: 0; margin-right:0}

.searchform{margin:12px 12px 0 0; width:135px;}
.searchform.mobile {display: none;}
.searchform label{}
.searchform input{float:left; border:1px solid #4881c5; background:#1d60b1; width:100px; height:17px; line-height:17px; font-size:12px; color:#f7f7f7; font-family: 'Muli', sans !important; -webkit-appearance:none; -webkit-border-radius:0; padding: 1px 5px;}
.searchform button{border:0; background:url(../img/bgi/sprites.png) no-repeat left top; width:21px; height:21px; display:block; text-indent:-999em;}

#mobile-search-toggle {display: none;}

#sidebar-second .newsblock-desc{margin:0 12px; padding:11px 0;}
#sidebar-right {
	width: 30%;
	padding-top: 20px;
	float: right;
	padding-left: 2%;
}
.region-sidebar-search .block, .region-sidebar-first .block, .region-sidebar-second .block {float: left; width: 100%;}
.newslisting{padding-bottom: 10px;}
.newslisting li{ text-transform:capitalize; float:left; width:100%; font-size:14px; line-height:20px; color:#444444; padding-top:11px; font-family: 'Muli', sans !important;}
.newslisting li:first-child{padding-top:0px;}
.more{font-size:12px; color:#8aa3b8; line-height:20px; font-style:italic; text-decoration:underline; font-family: 'Muli', sans !important;}
.more:hover{text-decoration:none;}
.figure-desc span, .view-btn, .form-submit {border:1px solid #9f9f9f; height:27px; line-height:27px; display:inline-block; font-size: 14px;
background: #f2f2f2;
background: -moz-linear-gradient(top,  #f2f2f2 0%, #e7e7e7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e7e7e7));
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e7e7e7 100%);
background: -o-linear-gradient(top,  #f2f2f2 0%,#e7e7e7 100%);
background: -ms-linear-gradient(top,  #f2f2f2 0%,#e7e7e7 100%);
background: linear-gradient(to bottom,  #f2f2f2 0%,#e7e7e7 100%);
-pie-background: linear-gradient(top,  #f2f2f2 0%,#e7e7e7 100%);
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.figure-desc span a, .view-btn span, .form-submit {display:block; padding: 0 12px 0 9px; margin-right: 12px; background:url(../img/bgi/sprites.png) no-repeat right -43px;}
.form-submit {background-position: right -968px; padding-right: 20px; background-color: linear-gradient(to bottom, #F2F2F2 0%, #E7E7E7 100%); text-transform: lowercase; font-family: 'Muli', sans !important; font-size: 14px;}
.figure-desc span a:hover, .view-btn:hover, .view-btn a:hover {text-decoration:none;}

.additional-info{padding:20px 0 0 12px;}
.angela-profile{padding-bottom:24px;}
.additional-info .angela-profile a{ text-transform:capitalize;  color: #8AA3B8; display: block; font-family: 'Muli', sans !important; font-size: 16px;  letter-spacing: normal;  line-height: 20px; padding-bottom: 3px;}
.additional-info .angela-profile p{ color: #444444; font-size: 14px; line-height: 23px;}
.additional-info p{font-size:14px; line-height:23px; color:#444444; padding:0 0 25px;}
.additional-info p .more{font-size:14px; line-height:20px;}
.content-box{float:left; width:47%; padding-left:3%;}
.content-boxinner{padding-top: 20px; border-top:1px solid #dededf;}
.row-first .content-box .content-boxinner{border-top:none; padding-top:0;}
.figure-img{padding-right:3.9%; width:96.1%;}
.figure-img img{width:100%; height: auto;}
.figure-desc{padding:8px 11px 21px;}
.figure-desc p{font-size:14px; line-height:23px; color:#444444; padding:0 0 8px;}
#content .figure-desc p{padding:0 0 8px;}
.figure-desc .view-btn{padding:0 5px;}
.field-name-body .readmore a, .field-name-body a.readmore {
	display:block;
	width:20%;
	height:1.7em;
	color:#FFFFFF;
	border-radius:6px;
	background-color:#0033a0;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
	text-transform:capitalize;
	text-align:center;
	float:right;
	clear:both;
}
.field-name-body .readmore a:hover, .field-name-body a.readmore:hover {
	background-color: #1B5FAF;
}
.field-name-body pre {
	background: none repeat scroll 0 0 #F6F6F6;
	border: 1px solid #E7E7E7;
	font-size: 13px;
	line-height: 20px;
	margin: 20px 0;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}
.field-name-body blockquote {
	color: #000;
	font-size: larger;
	font-style: italic;
	margin: 10px 0 0;
	padding: 20px 25px;
}
.field-name-body ul, .field-name-body ol {
	line-height: 23px;
	margin: 20px 0;
	padding: 3px 0 3px 25px;
}
.field-name-body ul ul, .field-name-body ol ol {
    margin: 5px 0;
}
.field-name-body ul li {
	list-style: disc;
	color: rgb(68, 68, 68);
}
.field-name-body ol li {
	list-style: decimal outside none;
	color: rgb(68, 68, 68);
}
.field-name-body table {
	border: 1px solid #89B3E4;
	margin-bottom: 20px;
	width: 100%;
}
.field-name-body table th {
	background: #1762B7;
	border-bottom: 3px solid #89B3E4;
	color: #FFF;
	margin-bottom: 3px;
	padding: 3px;
	text-align: left;
	text-transform: uppercase;
}
.field-name-body table tr td {
	background: #F6F6F6;
	color: #000;
	margin-bottom: 3px;
	padding: 3px;
	text-align: left;
}
/*
	Since IE8 doesn't support the nth-child selector, we have to use the sibling (+) operator to add even/odd striping to wysiwyg tables.
	These styles currently support up to 20 rows, but can be extended by copying the most specific line and adding " + tr + tr" near the end of the selector (right before the final td)
*/
.field-name-body table tr + tr td,
.field-name-body table tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td {
	background: #CED9ED;
}
.field-name-body table tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td,
.field-name-body table tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr td {
	background: #F6F6F6;
}
.field-name-body .content-right-float {
	background: #CED9ED;
	border: 1px solid #89B3E4;
	clear: both;
	float: right;
	height: auto;
	margin: 1em 0 0 .4em;
	width: 30%;
}
#content .field-name-body .content-right-float p {
	line-height: 23px;
	padding: 0 0 23px;
	margin: 0.4em;
}
.field-name-body .content-right-float h5, .field-name-body h5.content-right-float {
	background: #1762B7;
	color: #FFF;
	text-align: center;
}
#content .view-header p {
	width: 94%;
	padding: 0 3% 23px;
}
#sidebar-second .view-header h2, #sidebar-second h2, #sidebar-first h2 {
	/*color: #fff;*/
	/*margin-bottom: 10px;*/
	/*border-bottom: none;*/
	/*padding: 10px ;*/
    /*background: #0033a0;*/
	/*font-size: 26px;*/
	/*!*box-shadow: 5px 5px 5px #a5acaf;*!*/
	/*!*border: 1px solid #2C2A29;*!*/

	font-size: 22px;
	color: #1f1f21;
	margin-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
	letter-spacing: normal;
	font-weight: bold;

}
#content .view-header h2 {
	border-bottom: 1px solid #DEDEDF;
}
#content .newsblock-desc li {
	margin-top: 20px;
}
#content .newsblock-desc .view-btn {
	margin-top: 15px;
}


.sidebar {
	margin-top:20px;
}

#sidebar-second .view-footer {
	margin-left: 12px;
	border-bottom: 1px solid #DEDEDF;
	padding-bottom: 10px;
}

#sidebar-search img, #sidebar-first img, #sidebar-second img, #sidebar-right img, #interior-logo img {margin: 5px 0; width: 100%; height: auto;}

#sidebar-second .block-block {
	margin: 20px 0;
}
#sidebar-second .profile p {
	/*letter-spacing: -1px;*/
}
#sidebar-second a {
	font-style: italic;
	color: #8AA3B8;
	font-size: 14px;
	text-decoration: underline;
}
#sidebar-second a:hover {
	text-decoration: none;
}
#sidebar-second a.view-btn {
	color: #000;
	text-decoration: none;
	font-style: normal;
}
#sidebar-second a.title {
	font-style: normal;
	color: #00479A;
	font-family: 'Muli', sans !important;
	text-transform: capitalize;
	font-size: 16px;
}
ul.quicktabs-tabs {
	display: block;
	margin: 20px 0 0;
	width: 100%;
	float: left;
	padding: 0px;
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
}
ul.quicktabs-tabs:after {
	clear: both;
}
ul.quicktabs-tabs li {
	float: left;
	padding: 0;
	list-style: none;
	margin: 0;
}
ul.quicktabs-tabs li a {
	border-right: 1px solid #e4e4e4;
	padding: 8px 20px;
	/*letter-spacing: 0.5px;*/
	color: #00479a;
	display: block;
	font-family: 'Muli', sans !important;
	font-size: 16px;
}
ul.quicktabs-tabs li.active a {
	background: url(../img/bgi/tabs-active) left bottom repeat-x;
}
ul.quicktabs-tabs li a:hover {
	text-decoration: none;
}
.quicktabs_main {
	float: left;
	display: block;
	margin: 0 0 20px;
	padding: 16px 0;
	line-height: 26px;
}
.sidebar .item-list {
	display: block;
	position: relative;
	margin: 0 12px;
	padding: 11px 0;
}

.sidebar .item-list li {
	font-family: 'Muli', sans !important;
	margin: 0;
	font-size: 14px;
	padding-top: 11px;
}
.sidebar .item-list li:first-child {
	padding-top: 0;
}
.sidebar .item-list li a {
	color: #444;
	line-height: 14px;
}
.sidebar .more-link {
	float: left;
	margin: 0 12px 12px 12px;
	color: #000;
	border: 1px solid #9f9f9f;
	border-radius: 3px;
	height: 27px;
	line-height: 27px;
	background: linear-gradient(to bottom, #F2F2F2 0%, #E7E7E7 100%) repeat scroll 0 0 transparent;
}
.more-link a {
	background: url(../img/bgi/sprites.png) no-repeat scroll right -43px transparent;
	display: block;
	margin-right: 12px;
	text-transform: lowercase;
	padding: 0 12px 0 9px;
}
.more-link a:hover {
	text-decoration: none;
}

.view-contentlist .item-list ul li {float: left; width: 48%; margin: 0;}
.view-contentlist .item-list ul li.views-row-odd {clear: left; margin-right: 4%;}
.view-contentlist .item-list ul li a {text-decoration: underline; font-style: italic;}
.view-contentlist .item-list ul li h2 a {text-decoration: none; font-style: normal;}

.sidebar .social-icon {padding: 20px 0; border: 1px solid #DEDEDE; border-width: 1px 0; text-align: center; width: 100%;}
.sidebar .social-icon li {padding: 3px 6px; display: inline-block; float: none;}


/* =End Main Content
--------------------------------------------------------------------------------------------------*/


/* =Secondary Content
--------------------------------------------------------------------------------------------------*/

/* =Inner Page Content
--------------------------------------------------------------------------------------------------*/
#content p{padding:0 0 0px; line-height: 23px; margin: 10px 0 0 0;}
em, i {font-style: italic;}
.headslide img{width:100%;}
.discretionary-block{padding-bottom:24px;}
.discretionary-block p .more{font-size:14px; line-height:23px;}
.cardprogram-block p .more{font-size:14px; line-height:23px;}
.pdfforms-links{width:44%; margin:-4px 0 0 -2px;}
.pdfforms-col2{padding-left:10.6%;}
.pdflisting{padding-bottom: 27px;}
.pdflisting li{ text-transform:capitalize; color:#444444; font-size:14px; line-height:26px; padding-left: 20px; background:url(../img/bgi/sprites.png) no-repeat 3px -41px;}
.pdflisting li a{color:#a0b4c5; font-style:italic; text-decoration:underline;}
.pdflisting li a:hover{text-decoration:none;}

/* End Inner Page Content
--------------------------------------------------------------------------------------------------*/


/* =Treasurer2 Page Content
--------------------------------------------------------------------------------------------------*/

.treasurer2 #logo {border: medium none; padding: 2.6% 7% 0; width: 20%;}
.treasurer2 .head-right {padding-right: 2px; padding-top: 11px;}
.treasurer2 .head-right p {font-size: 14px;}

#navigation-primary{background:#0053ae url(../img/bgi/navigation-bg.png) no-repeat center top; height:35px; line-height:35px; position: relative;}
#navigation-primary ul{}
#navigation-primary ul li{float:left; padding:0 1%; position:relative; width:17.7%; text-align:center;}
#navigation-primary ul li:first-child{padding-left: 2%;}
#navigation-primary ul li{}
#navigation-primary ul li a{font-size:14px; line-height:35px; font-size:14px; color:#fff; text-decoration:none; display:block; text-transform: capitalize;}
#navigation-primary ul li:hover a, #navigation-primary ul li.active a{text-shadow: 0px 0px 23px #fff;}

#navigation-primary ul .menu-level2{position:absolute; left:0; top:35px; width:226px; background:#0d66bc url(../img/bgi/menu-level-bg.png) repeat-x left top; border-left:1px solid #0c6dc2; border-right:1px solid #0c6dc2; padding:5px 0;}
#navigation-primary ul .menu-level2 li{padding:0; width:100%; float:left; margin:0; text-align:left;}
#navigation-primary ul .menu-level2 li a{color:#9fc3df; font-size:12px; line-height:14px; padding: 5px 15px; text-shadow: 0px 1px 0 #09559e;}
#navigation-primary ul .menu-level2 li:hover a, #navigation-primary ul .menu-level2 li.active a{color:#f7f7f7;}

#navigation-primary ul .menu-level2 li.active li a, #navigation-primary ul ul .menu-level3 li a{color:#9fc3df; padding: 5px 20px 5px 52px;}
#navigation-primary ul ul .menu-level3 li:hover a, #navigation-primary ul ul .menu-level3 li.active a{color:#f7f7f7;}

#navigation-primary ul ul .menu-level3 li.active li a, #navigation-primary ul ul ul .menu-level4 li a{color:#9fc3df; padding: 5px 20px 5px 88px;}
#navigation-primary ul ul ul .menu-level4 li:hover a, #navigation-primary ul ul ul .menu-level4 li.active a{color:#f7f7f7;}

#navigation-primary ul ul ul .menu-level4 li.active li a, #navigation-primary ul ul ul ul .menu-level5 li a{color:#9fc3df; padding: 5px 20px 5px 124px;}
#navigation-primary ul ul ul ul .menu-level5 li:hover a, #navigation-primary ul ul ul ul .menu-level5 li.active a{color:#f7f7f7; background:url(../img/bgi/menu-level-hoverbg.png) repeat-x left bottom;}
.ukyedu-link{}
.ukyedu-link li{float:left; padding:8px 0 8px 22px;}
.ukyedu-link li:first-child{padding:8px 0 8px 0;}
.ukyedu-link li a{display:block; line-height:28px; font-size:10px; color:#f7f7f7; text-transform:uppercase; font-family: 'Muli', sans !important;}


.treasurer2 .content-box{padding-right:3%; padding-left:0;}

.accordion-horiouter{margin-bottom:22px; border-bottom: 1px solid #dededf; padding-bottom:24px; width:97.1%;}

.accordion-horiinner{padding:5px 4px 5px 1px; background:url(../img/bgi/accordion-horibg.png) repeat-x left top;}
.accordion-hori { color:#fff; width:100%;}
.accordion-hori li{position:relative; height: 306px; width:6.3%; float:left;}
.accordion-hori li:first-child{}
.accordion-hori li:first-child .slide_handle{}
.slide_handle{float:left; background:url(../img/bgi/slide_handle.png) repeat-y left bottom; cursor:pointer; position:relative; width:7.8%; height:100%; z-index:8;}
.slide_opened .slide_handle{background:url(../img/bgi/slide_handle_hover.png) repeat-y left top;}
.slide_handle span{display:none !important; background:url(../img/bgi/accordion-hori-arrows.png) no-repeat 0 0; top:30px; height:15px; right:0; position:absolute; width:8px;}

.accordion-hori li.slide_opened{width: 81.1%;}
.accordion-hori li .slide_handle{width:100%; overflow:hidden;}
.accordion-hori li .slide_content{width:0; display:none;}
.accordion-hori li.slide_opened .slide_handle{width:8.5%; overflow:visible;}
.accordion-hori li.slide_opened .slide_content{width:91.5%; display:block;}


.accordion-hori li.slide_opened .slide_handle span{right:-7px; display:block !important;}

.slide_opened .slide_handle span{display:block;}
.rotate {position:absolute; bottom:13px; text-transform: uppercase; width:100%; height:200px; color:#00479a;  text-indent:-999em;}
.accordion-hori li.slide1 .rotate{background:url(../img/bgi/slide_handle_slide1.png) no-repeat center bottom;}
.accordion-hori li.slide2 .rotate{background:url(../img/bgi/slide_handle_slide2.png) no-repeat center 156px;}
.accordion-hori li.slide3 .rotate{background:url(../img/bgi/slide_handle_slide3.png) no-repeat center 156px;}
.accordion-hori li.slide4 .rotate{background:url(../img/bgi/slide_handle_slide4.png) no-repeat center 156px;}

.slide_opened .rotate{color:#fff;}
.slide_content {float:left; position:relative; background:url(../img/bgi/accordion-contentbg.png) repeat-y 0 top #efefef; width:92.2%; height:100%; z-index:7;}
.slide_content_box{padding:20px;}
.slide_content_box strong{color:#000;}
.slide_content a img { border:0; }

.slide_caption {color:#000; background:url(images/black-30pct.png); bottom:0; left:0; padding:10px 20px; position:absolute; right:0;}
.slide_caption_toggle { cursor:pointer; height:10px; left:0; position:absolute; right:0; top:0; }
.slide_caption_toggle div { background:url(images/toggle-caption.png) no-repeat 50% -10px; height:100%; }
.slide_caption_toggle:hover { background:url(images/black-30pct.png); }
.slide_caption_collapsed .slide_caption_toggle div { background-position:50% 0; }
.slide_caption a { background:none; color:#000; }
.slide_caption a:hover { text-decoration:none; }

#block-search-form {display: block; width: 100%; padding: 20px; border: 1px solid #dededf; border-width: 1px 0 1px 0; text-align: center;}
#block-search-form #search-block-form {width: 100%;}
#block-search-form input.form-text {display: block; float: left; padding: 4% 2% 4% 3%; width: 75%; margin-right: 5%; border: 1px solid #c8c8c8; background: url(../img/bgi/search-bg.jpg) top left repeat-x;}
#block-search-form input.form-submit {float: left; width: 13%; padding: 0; margin: 2px 0 0; max-width: 39px; height: auto;}

/* End Treasurer2 Page Content
--------------------------------------------------------------------------------------------------*/

/* End Secondary Content
--------------------------------------------------------------------------------------------------*/


/* =Footer
--------------------------------------------------------------------------------------------------*/
	#footer-wrapper {
		background: #2c2a29;
		border-top: 1px solid #003a0;
		margin-top: 15px;
	}
.footer-top{padding:46px 2px 51px;}
.region-footer-first-column{width:32%; padding-left:0; float: left;}
.region-footer-second-column{width:32%; padding-left:2.3%; float: left;}
.region-footer-third-column{width:31%; padding-left:2.2%; float: left;}
.footer-top ul li{float:left; width:100%; list-style: none;}
.footer-top ul li a{padding-left:10px; display:block; font-size:14px; line-height:23px; color:#89b3e4; text-decoration:none; border-bottom:1px solid #0033a0; }
.footer-top ul li:hover a, .footer-top ul li:focus a, .footer-top ul li:hover a, .footer-top ul li.active a{color:#fff; border-bottom:1px solid #1a5aa6; background:url(../img/bgi/sprites.png) no-repeat right 8px #1b5faf;}
/*.footer-bottom {margin:0 12px; border-top:1px solid #ffffff; border-bottom:1px solid #ffffff; padding:14px 0px 4px 18px;}*/

.footer-bottom div[class^="col-md-"] {padding-left: 0;}
.region-footer p, .region-footer p a {font-size:14px; line-height:18px; color:#89b3e4; padding:0 0 10px;}

.social-icon{padding:4px 1px 0 0;}
.social-icon li{float:left; padding:0 6px 6px; line-height: 41px;}

.copyright{padding:28px 12px 28px 29px;}
.copyright p {padding: 0;}

.foot-logo {display: block; width: 18%; height: 48px;}
.foot-logo.seeblue {width: 14%; border-left: 1px solid #345eaf;}
.foot-logo img {margin: auto; display: block; padding-top: 12px; max-width: 100%;}

.copytext{ width:47%; color:#89b3e4; line-height:24px; font-size:12px; padding:4px 10% 10px; text-align: center; }
.copytext a{text-transform:capitalize; color:#89b3e4; font-size:12px;}

/* End Footer
--------------------------------------------------------------------------------------------------*/


/* =Forms
--------------------------------------------------------------------------------------------------*/

/* Removing fieldset borders (remove if you want to keep the defaults defined in Normalization) */
fieldset { border: none; margin: 0; padding: 0; }

.search-form #edit-keys {height:22px;}
.search-form .form-submit {display:inline;}



/* End Forms
--------------------------------------------------------------------------------------------------*/

/* =Webform
--------------------------------------------------------------------------------------------------*/
.webform-client-form fieldset { border: 1px solid rgb(68, 68, 68); padding:10px; margin-top:20px;}
.webform-client-form legend {padding: 5px; font-size:20px;}
.webform-client-form label {margin-top:25px; font-weight: bold}
.webform-client-form label.option {font-weight: normal;}

/* End Webform
--------------------------------------------------------------------------------------------------*/


/* Large desktop */
@media (min-width: 971px) { 
	/*.wrap-inner{width:970px;}*/
}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 970px) {
	/*.wrap-inner, .section {width:94%;}*/
	#content-header .block-menu {width: 100%;}
	.head-right p{ font-size:14px; line-height:18px;}
	/*.front #header-inner .wrap-inner {padding-top: 12px;min-height: 116px;}*/
	.sidebar-searchform label{width:70%;}
}
@media (max-width: 800px) { 
	.sidebar-searchform label{width:70%;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	html {	-webkit-text-size-adjust: none; }
	.searchform input{width:97px; height:14px;}
	.figure-heading{font-size: 18px; line-height:24px;}
	#content .figure-desc p{font-size: 12px;}
	.angela-img {width: 37%;}
	.additional-info .angela-profile a{font-size: 12px;}
	.additional-info .angela-profile p {font-size: 12px;}
	.pdfforms-links{width:46%;}
	.pdfforms-col2{padding-left: 8%;}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
	/*.front #header-inner .wrap-inner{padding-top:15px; min-height:100px;}*/
	.front .head-uk{left:20px;}
	.front .head-right{width:66%;}
	.head-right p{font-size:12px; line-height:17px;}
	.block-menu .menu li a {font-size:14px;}
	.pdfheading {font-size: 16px;}
	.pdflisting li{font-size: 11px; line-height:24px;}
	.footlink ul li a {font-size: 12px;}

}
@media (min-width: 641px) and (max-width: 768px) {
    .head-right {height: 94px;}
    .head-right .content {height: 94px;}
	.head-right p{ font-size:10px; line-height:14px;}
	/*.front #header-inner .wrap-inner {padding-top: 14px; min-height: 94px;}*/
	.sidebar-searchform label{width:70%;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 640px) {



    .view-contentlist .item-list ul li {width: 100%; margin: 0 !important;}

	#main-wrapper .region #block-system-main-menu {position: fixed; top: 82px; left: 0px; width: 100%;}
	#footer-wrapper #footer .region ul.menu {display: none !important;}
	/*.wrap-inner, .section{width:92.3%;}*/
	/*.wrap-inner {position: relative;}*/
	/*.top-link, .front .head-right, .front .head-uk, .newsblock, .additional-info, .sidebar-search{display:none;}*/
    .top-link, .front .head-right, .front .head-uk, .additional-info {display:none;}
	#sidebar-right {display: none;}
	
	/*.front #header-inner .wrap-inner{padding:0;}*/
	.wrap-top {background: url(../img/bgi/wrap-topiphone-bg.png) repeat-x left top; min-height: 82px; position: relative; z-index: 1000;}
	.menulink{display:block; width:87px; height:60px; padding:0 2px 0 10px; text-align:center; line-height:60px; text-decoration:none; font-weight:bold; font-size:24px; color:#ffffff; margin-top:11px;position:relative;}
	.menulink span{display:block; position:relative; z-index:1;}
	.menulink img{position: absolute; left: 0; top: 0; width:100%;}
	.menulink:hover{text-decoration:none;}
	#content-header {position: absolute; top: 0px; z-index: 999;}
	.block-menu .menu:first-child,
	#content-header .block-menu .menu:first-child {display: none; width:100%; z-index:99999; background:#0033a0; position:relative;}
	.front #main-menu {top: 0px;}
	.front .block-menu .menu{margin:0; padding:0; width: 100%;}
	.block-menu .menu li ul {display:none; padding:0;}
	#content-header .block-menu .menu li {width: 100%;}

	#main-wrapper #sidebar-search, #main-wrapper #sidebar-first, #main-wrapper #sidebar-second, #main-wrapper #interior-logo { width: 100%;}


	
	
	.mobile-menu {display: block; font-family: 'Muli', sans !important;}
	
	.mobile-menu ul.menu {/*display: none;*/ border: none;}
	.mobile-menu ul.menu:first-child {margin-top: 0; padding: 0;}
	.mobile-menu ul.menu ul.menu {position: relative; top: 0px; padding: 0; width: 100%;}
	
	.mobile-menu ul.menu li {width: 100%; display: block; background: url(../img/bgi/menu_top_level.png) top left repeat-x; margin: 0; padding: 0; }
	#main-wrapper .region #block-menu-menu-secondary-navigation ul.menu li {background: url(../img/bgi/menu_secondary.png) top left repeat-x; border-bottom: 1px solid #88a5c9;}
	#main-wrapper .region #block-menu-menu-secondary-navigation {border: 1px solid #0033a0; border-width: 1px 0 1px 0;}
	.mobile-menu ul.menu li:hover {text-shadow: none; background: url(../img/bgi/menu_top_level.png) top left repeat-x;}
	.mobile-menu ul.menu li li {background: url(../img/bgi/menu_second_level.png) top left repeat-x; color: #FFF;}
	.mobile-menu ul.menu li li:hover {background: url(../img/bgi/menu_second_level.png) top left repeat-x;}
	.mobile-menu ul.menu li li li {background: url(../img/bgi/menu_nth_level.png) top left repeat-x;}
	.mobile-menu ul.menu li li li:hover {background: url(../img/bgi/menu_nth_level.png) top left repeat-x;}
	
	.mobile-menu ul.menu li a {width: 96%; text-align: left; font-size: 18px; padding: 10px 2%; text-shadow: none; border: none; height: 30px; overflow: hidden; background: transparent url(../img/bgi/sprites.png) right -356px no-repeat; color: #FFF; display: block;}
	.mobile-menu ul.menu li a:hover {background: transparent url(../img/bgi/sprites.png) right -356px no-repeat; text-shadow: none; text-decoration: none;}
	.mobile-menu ul.menu li.parentlink > a {background: transparent url(../img/bgi/sprites.png) right -530px no-repeat;}
	.mobile-menu ul.menu li.parentlink > a:hover {background: transparent url(../img/bgi/sprites.png) right -530px no-repeat;}
	
	
	#mobile-interior-logo {display: block; padding: 20px 0; width: 100%;}
    #mobile-interior-logo img {padding: 0 10%; width: 80%;}
    #interior-logo {display: none;}

    .searchform button {display: none;}
    .searchform {display: none; width: 200px; margin: 15px 15px 0 0;}
    .searchform label {width: 100%;}
    .searchform input {height: 2em; width: 90%; padding: 0 5%; font-size: 24px;}
	
	.topRightLink {padding-top: 22px; padding-left:0%; width:70%; text-align:right; display: none;}
	.topRightLink li{float:none; display:inline;}
	.topRightLink li a{font-size:20px; line-height:30px; display:inline-block;}

    #mobile-search-toggle {background:url(../img/bgi/sprites.png) no-repeat left -152px; width:29px; height:31px; float: right; display: block; margin-top: 25px;}
/*
	.searchform{margin:24px 0 0; width:50%;}
    .searchform fieldset {float: right;}
    .searchform input {margin-right: 5%;}
	.searchform.desktop label{display:none;}
	.searchform button{background:url(../img/bgi/sprites.png) no-repeat left -152px; width:29px; height:31px;}
*/
	.front #logo{padding: 7.5% 0; width: 60%; margin: 0 auto; float: none;}
	.front #content{width:100%;}
	.content-box{width:100%; padding:0;}
	.figure-img{width:100%; padding:0;}
	.figure-desc{padding:8px 0px 21px;}
	.figure-desc p{display:none;}
	/*#footer-wrapper .wrap-inner{width:100%;}*/
	.footlink{display:none;}
	.footadd-block{padding:4% 0 2.5%; margin:0;}
	.footadd-left{border-bottom:1px solid #ffffff; width:100%; padding-bottom:2.5%;}
	.social-icon{text-align:center; clear:both; float:left; padding-top:2.8%; width: 100%;}
	.social-icon li{clear:both; display:inline; float:none;}
	.social-icon li a{display:inline-block; }
    .sidebar .social-icon li {float: left; clear: none; padding: 10px 5%; width: 15%;}
    .sidebar .social-icon li a{display:block; float: left;}
	.copyright{padding:28px 0 28px;}
	.foot-logo{float:none; margin:0 auto; width:70%; display:block; background: none; height: auto; text-indent: 0;}
	.copytext{background:none; width:100%; padding:3.5% 0 0; text-align:center;}
	/* Inner Page Media Query*/
	#logo{padding: 7.5% 20%; width: 60%; margin: 0 auto; float: none;}
	.head-right{width:100%; padding:0; margin-top:3%;}
	/*#content{width: 100%; padding: 0 0 6px;}*/
	.cardprogram-block{display:none;}
	.pdfforms-links{width:100%;}
	.pdfforms-col2{padding:0;}
	.pdfheading {font-size: 18px; line-height: 24px;}
	.pdflisting li {font-size: 14px; line-height: 26px;}

	#navigation-primary ul li a{font-size:14px;}
	.accordion-hori{min-height:200px;}

	.foot-logo {width: 49%; margin: 15px auto;}
	 .foot-logo.seeblue {width: 24%; border: 0;}
	.foot-logo img {width: 100%; height: auto;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	#main-wrapper .region #block-system-main-menu {position: fixed; top: 0px; left: 0px; width: 100%;}
	#main-wrapper .region .block-menu ul.menu:first-child {margin-top: 0px;}
	html {	-webkit-text-size-adjust: none; }
	.wrap-top{background:url(../img/bgi/iphoneheader-bg.png) repeat-x left top; min-height:61px;}
	.menulink{line-height: 44px; font-size: 14px; padding:0 0 0 5px; margin-top:8px; height:44px; width: 70px; background:url(../img/bgi/sprites.png) no-repeat -296px -250px;}
	.menulink img{display:none;}
	.topRightLink{width:69%; margin-top:0; padding-top:14px;}
	.topRightLink li a{font-size: 14px;}
	.block-menu .menu:first-child {top:61px;}
	#menu-front {width: 100%; top: -20px; position: absolute; display: block;}
	
	#main-wrapper .region .block-menu ul.menu {display: none; position: absolute; top: 62px; left: 0px; border: none;}
	#main-wrapper .region .block-menu ul.menu ul.menu {position: relative; top: 0px; padding: 0; width: 100%;}
	
	#main-wrapper .region .block-menu ul.menu li a {font-size: 22px;}


    /*
	.searchform{margin:21px 0 0; width: 15px; height: 18px;}
	.searchform button{background:url(../img/bgi/sprites.png) no-repeat -65px -158px;}
	*/
    .searchform {margin-top: 10px; width: 150px;}
    .searchform input {font-size: 18px;}
    #mobile-search-toggle {margin-top: 15px;}
	.figure-heading{font-size:22px;}
	.copytext{font-size:12px; line-height: 24px;}
	.footadd-left p {font-size: 14px; line-height: 18px;}

	#navigation-primary{height: auto;}
	/*#navigation-primary .wrap-inner{width:100%;}*/
	#navigation-primary ul li{width:100%; padding:0;}
	#navigation-primary ul li:first-child{padding:0;}
	#navigation-primary ul li a{font-size:14px; border-bottom:1px solid #3369A7;}
	#navigation-primary ul .menu-level2{width:100%; z-index:99; position: relative; top: 0;}
	#navigation-primary ul .menu-level2 li a{ padding: 5px 10px; border-bottom:1px solid #2177cb;}
	#navigation-primary ul .menu-level2 li.active li a, #navigation-primary ul ul .menu-level3 li a{padding:4px 10px 4px 25px; border-bottom:none;}
	#navigation-primary ul ul .menu-level3 li.active li a, #navigation-primary ul ul ul .menu-level4 li a{padding: 4px 10px 4px 40px;}
	#navigation-primary ul ul ul .menu-level4 li.active li a, #navigation-primary ul ul ul ul .menu-level5 li a{padding: 4px 10px 4px 60px;}

	.accordion-hori{min-height:200px;}
	.rotate{font-size:12px;}
	.slide_content_box{font-size:12px;}

	.accordion-hori li {height:200px; width: 11%;}
	.accordion-hori li.slide_opened .slide_handle {width: 15%;}
	.accordion-hori li.slide_opened .slide_content {width: 85%;}
	.accordion-hori li.slide_opened {width: 67%;}

}

/* Landscape phones and down */
@media (max-width: 320px) {

    .searchform {width: 120px; margin-top: 5px;}
    .searchform input {font-size: 14px;}
    #mobile-search-toggle {background-position: -60px -156px; width: 20px; height: 20px; margin-top: 12px;}

	.wrap-top{background:url(../img/bgi/wrap-topbg.png) repeat-x left top; min-height:45px;}
	.menulink{line-height: 30px; font-size: 12px; padding: 0; margin-top:7px; height:38px; width: 58px; background:url(../img/bgi/sprites.png) no-repeat -150px -260px;}
	.topRightLink{width:64%; padding-top:8px;}
	.topRightLink li{padding:8px 0 8px 10px;}
	.topRightLink li a{font-size:14px;}
	.pdflisting li {font-size: 13px; line-height: 26px;}
	.block-menu .menu:first-child {top:45px;}
	

	#main-wrapper .region .block-menu ul.menu {display: none; position: absolute; top: 45px; left: 0px; border: none;}
	#main-wrapper .region .block-menu ul.menu ul.menu {position: relative; top: 0px; padding: 0; width: 100%;}
	#main-wrapper .region .block-menu ul.menu li a {font-size: 16px;}


	.block-menu .menu > li > a,
	.block-menu .menu > li li > a,
	.block-menu .menu > li li li > a,
	.block-menu .menu > li li li li > a,
	.block-menu .menu > li li li li li > a {color: #FFF; font-size: 16px; line-height: 16px; padding: 15px 40px 15px 13px; border-bottom:1px solid #3369a7; background: #0033a0 url(../img/bgi/sprites.png) no-repeat right -360px;}
	.block-menu .menu > li > a:hover,
	.block-menu .menu > li li > a:hover,
	.block-menu .menu > li li li > a:hover,
	.block-menu .menu > li li li li > a:hover,
	.block-menu .menu > li li li li li > a:hover {background:#0033a0 url(../img/bgi/sprites.png) no-repeat right -360px;}


	#navigation-primary ul li a {font-size: 12px; line-height: 14px; padding: 5px 0;}

}

	
	
	.footer-bottom {
		border-bottom: none;
	}
